{% extends "base.twig" %}

{% block sub_nav %}
	{% if lang == 'fr' %}
	    <li><a href="accueil-en.php"><img class="logo-langue" src="images/accueil/langue-en.jpg"></a></li>
	{% else %}
	    <li><a href="accueil-fr.php"><img class="logo-langue" src="images/accueil/langue-fr.webp"></a></li>
	{% endif %}		
{% endblock %}

{% block main %}

        <!--SECTION-1-->
        <section class="background-1">
            <h2>S.T.A.L.K.E.R. 2: HEART OF CHORNOBYL</h2>
            <div class="box-trait">
                <div class="trait-gauche"></div>
                    <i class="fa-solid fa-circle-radiation"></i>
                <div class="trait-droite"></div>
            </div>

            <div class="video">
                <video src="images/accueil/preview.webm" autoplay loop muted></video>
                <!--<iframe width="620" height="330" src="https://www.youtube.com/embed/_NuPJmiQh-A?si=2aTYNirGOu59lVk1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->
            </div>
            
            <p> {{ accueil.petite_description }} </p>

            <div class="box">
                <div class="box-2 liste-presentation">
                    <ul>
                        {% for ligne in accueil.description_liste %}
                            <li> {{ ligne }} </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="box-2">
                    <img class="image-accueil" src="images/accueil/image-accueil.jpg" alt="gif d'un stalker" />
                </div>
            </div>

        </section>

        <!--SECTION-2-->
        <section class="background-2">
            <h3> {{ accueil.pré_commande }} </h3>
            <div class="logo-platformes">
                <div><a href="https://www.xbox.com/fr-FR/games/stalker-2"><i class="fa-brands fa-xbox"></i>Xbox</a></div>
                <div><a href="https://store.steampowered.com/app/1643320/STALKER_2_Heart_of_Chornobyl/?l=french"><i class="fa-brands fa-steam"></i>Steam</a></div>
            </div>
        </section>

        <!--SECTION-3-->
        <section class="background-3">
            <h2>THE HEART OF CHORNOBYL</h2>
            <div class="box-trait">
                <div class="trait-gauche"></div>
                    <i class="fa-solid fa-circle-radiation"></i>
                <div class="trait-droite"></div>
            </div>

            <div class="center">
                {% for ligne in accueil.liste_img_texte %}
                    <img src="{{ ligne.img }}" alt="{{ ligne.alt }}" />
                    <p> {{ ligne.texte }} </p>
                {% endfor %}
            </div>

        </section>

{% endblock %}