{% extends "categorie.twig" %}

{% block sub_nav %}
	{% if lang == 'fr' %}
		<li><a href="anomalies-en.php"><img class="logo-langue" src="images/acceuil/langue-en.jpg"></a></li>
	{% else %}
		<li><a href="anomalies-fr.php"><img class="logo-langue" src="images/acceuil/langue-fr.webp"></a></li>
	{% endif %}		
{% endblock %}

{% block content %}

<!--LES_ARTICLES_ANOMALIES-->
<div class="content">
	<!--TITRE-->
	<h2>Anomalies</h2>
	<div class="box-trait">
		<div class="trait-gauche"></div>
		<i class="fa-solid fa-circle-radiation"></i>
		<div class="trait-droite"></div>
	</div>
	<!--Articles-->
	{% for anomalie in categorie %}
	<article class="anomalie" id="{{ anomalie.id }}">
		<!--titre_article-->
		<h3>{{ anomalie.nom }}</h3>
		<div class="center">
			<!--IMAGE-->
			<img class="img-ano apparition" src="{{ anomalie.url }}" alt="{{ anomalie.alt_image }}">
		</div>
		<div class="box">
			<div class="box-2">
				<!--DESCRTIPTION-->
				{% for ligne in anomalie.description %}
					<p> {{ ligne }} </p>
				{% endfor %}
			</div>
			<div class="box-2">
				<!--DANGER-->
				<p>{{ anomalie.danger }}
					{% for i in range(1, anomalie.niveau_danger) %}
						<i class="fa-solid fa-skull"></i>
					{% endfor %}
					{% if anomalie.niveau_danger != 5 %}
						{% for i in range(1, 5 - anomalie.niveau_danger) %}
							<i class="fa-solid fa-skull gris"></i>
						{% endfor %}
					{% endif %}
				</p>
				<!--RARETE-->
				<p>{{ anomalie.rareté }}
					{% for i in range(1, anomalie.niveau_rareté) %}
						<i class="fa-solid fa-clover"></i>
					{% endfor %}
					{% if anomalie.niveau_rareté != 5 %}
						{% for i in range(1, 5 - anomalie.niveau_rareté) %}
							<i class="fa-solid fa-clover gris"></i>
						{% endfor %}
					{% endif %}
				</p>
			</div>
		</div>
	</article>
	{% endfor %}
</div>

<!--JAVA-SCRIPT-->
<script src="js/apparition-image.js"></script>

{% endblock %}
