{% extends "base.twig" %}

{% block sub_nav %}
	{% if lang == 'fr' %}
	    <li><a href="contact-en.php"><img class="logo-langue" src="images/accueil/langue-en.jpg"></a></li>
	{% else %}
	    <li><a href="contact-fr.php"><img class="logo-langue" src="images/accueil/langue-fr.webp"></a></li>
	{% endif %}		
{% endblock %}

{% block main %}

    <div class="contact">
        <!--Mail/numéro-->
        <h3>{{ contact.conect }}</h3>
        <div class="box-trait">
            <div class="trait-gauche"></div>
            <i class="fa-solid fa-circle-radiation"></i>
            <div class="trait-droite"></div>
        </div>
        <div class="box-border">
            <p><i class="fa-solid fa-envelope"></i>kuznecovn82@gmail.com</p>
        </div>
        <div class="box-border">
            <p><i class="fa-solid fa-phone"></i>06 80 76 46 31</p>
        </div>
        <!--Question-->
        <h3>{{ contact.poser }}</h3>
        <div class="box-trait">
            <div class="trait-gauche"></div>
            <i class="fa-solid fa-circle-radiation"></i>
            <div class="trait-droite"></div>
        </div>

        <!--Formulaire-->
        <form action="/reception.php" method="POST">
            <label for="name">{{contact.nom}} :</label>
            <input type="text" id="name" name="user_name">
        
            <label for="mail">{{ contact.mail }} :</label>
            <input type="email" id="mail" name="user_mail">
        
            <textarea id="msg" name="user_message" placeholder="{{ contact.mes }}"></textarea>
        
            <button type="submit">{{ contact.envoy }}</button>
        </form>


    </div>

{% endblock %}
