{% extends "categorie.twig" %}

{% block sub_nav %}
	{% if lang == 'fr' %}
		<li><a href="personnages-en.php"><img class="logo-langue" src="images/accueil/langue-en.jpg"></a></li>
	{% else %}
		<li><a href="personnages-fr.php"><img class="logo-langue" src="images/accueil/langue-fr.webp"></a></li>
	{% endif %}		
{% endblock %}

{% block content %}

<!--LES_ARTICLES_PERSONAGES-->
<div class="content">
	<!--TITRE-->
	<h2>{{ titre }}</h2>
	<div class="box-trait">
        <div class="trait-gauche"></div>
            <i class="fa-solid fa-circle-radiation"></i>
        <div class="trait-droite"></div>
    </div>
	<!--Articles-->
	{% for personnages in categorie %}
		<article class="personnages" id="{{ personnages.id }}">
			<div class="box">
				<div class="box-2">
					<!--titre_article-->
					<h3>{{ personnages.nom }}</h3>
					<!--IMAGE-->
					<img class="img-perso apparition" src="{{ personnages.url }}" alt="{{ personnages.alt_image }}">
					<p class="importance">{{ personnages.importance }}</p>
					<p>
					<!--IMPORTANCE-->
					{% for i in range(1, personnages.niveau) %}
						<i class="fa-solid fa-clover"></i>
					{% endfor %}
					{% if personnages.niveau != 5 %}
						{% for i in range(1, 5 - personnages.niveau) %}
							<i class="fa-solid fa-clover gris"></i>
						{% endfor %}
					{% endif %}
					</p>
				</div>
				<div class="box-2">
					<ul>
					<!--DESCRIPTION-->
					{% for li in personnages.description %}
						<li> {{ li }} </li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</article>
	{% endfor %}
</div>

<!--JAVA-SCRIPT-->
<script src="js/apparition-image.js"></script>

{% endblock %}


